head {
    background-color: #6C00FF;
    color: #FFFFFF; }

header {
    color: #ff5a5a;
}

body {
    background-color: #F2F2F2;
    color: #000000;
}

p {
    color: #012029;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';

}